<div class="row">
  <div class="col-md-8">
    <h1>Job Listings</h1>
    
    <div class="mb-4">
      <%= form_with url: jobs_path, method: :get, local: true, class: "row g-3" do |form| %>
        <div class="col-md-4">
          <%= form.text_field :search, placeholder: "Search jobs...", class: "form-control", value: params[:search] %>
        </div>
        <div class="col-md-3">
          <%= form.select :location, options_for_select([["All Locations", ""], ["Remote", "Remote"], ["New York", "New York"], ["San Francisco", "San Francisco"], ["London", "London"]], params[:location]), {}, { class: "form-select" } %>
        </div>
        <div class="col-md-3">
          <%= form.select :employment_type, options_for_select([["All Types", ""], ["Full Time", "full_time"], ["Part Time", "part_time"], ["Contract", "contract"], ["Freelance", "freelance"]], params[:employment_type]), {}, { class: "form-select" } %>
        </div>
        <div class="col-md-2">
          <%= form.submit "Search", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>

    <div id="jobs">
      <% @jobs.each do |job| %>
        <%= render 'job', job: job %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <%= paginate @jobs %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5>Quick Actions</h5>
      </div>
      <div class="card-body">
        <% if user_signed_in? && current_user.company? %>
          <%= link_to "Post New Job", new_job_path, class: "btn btn-success w-100 mb-2" %>
        <% end %>
        
        <div class="form-check">
          <%= check_box_tag :active_only, "true", params[:active_only] == "true", 
              class: "form-check-input", 
              data: { 
                turbo_method: :get,
                turbo_action: "advance",
                url: jobs_path(active_only: "true")
              } %>
          <%= label_tag :active_only, "Show only active jobs", class: "form-check-label" %>
        </div>
        
        <div class="form-check">
          <%= check_box_tag :remote, "true", params[:remote] == "true", 
              class: "form-check-input", 
              data: { 
                turbo_method: :get,
                turbo_action: "advance",
                url: jobs_path(remote: "true")
              } %>
          <%= label_tag :remote, "Remote jobs only", class: "form-check-label" %>
        </div>
      </div>
    </div>
  </div>
</div>
